<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contactanos</title>
    
        <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <div class="container__header">
                    <div class="logo">
                        <img src="../static/media/logo.png" alt="">
                    </div>
    
                    <div class="menu">
                        <nav>
                            <ul>
                                <li><a href="./index.html">Inicio</a></li>
                                <li><a href="./especialidades.html">Especialidades</a></li>
                                <li><a href="./servicios.html">Servicios</a></li>
                                <li><a href="./quienessomos.html">Quienes Somos</a></li>
                                <li><a href="./contactanos.html">Contactanos</a></li>
                            </ul>
                        </nav>
                    </div>
    
                    <i class="fa-solid fa-bars" id="icon_menu"></i>
    
                    <div class="header__register">
                        <input type="button" class="btn__header-register" value="Solicitar Cita">
                    </div>
            </div>
        </header>
    
        <main>
    
            <div class="cover">
    
                <div class="text__information-cover">
    
                    <h1>Diariamente nos esforzamos por ser mejores para ti</h1>
                    <p>Estos son los reconocimientos, certificaciones y acreditaciones que dan testimonio de nuestro compromiso con la excelencia médica y la calidez humana.
                        <br> Cada uno de ellos ha sido otorgado por instituciones independientes y, por supuesto, todos giran en torno a la atención a nuestros pacientes y sus familiares.</p>
                    <div class="buttons__cover">
                        <div type="button" class="btn__register-cover"> <a href="./signup.html"> Registrarse </a> </div>
                        <input type="button" class="btn__readMore-cover" value="Leer mas">
                    </div>
    
                </div>
    
                <div class="media__cover">
                    <video src="../static/media/animacion.webm" autoplay muted playsinline 
                    preload="auto" loop></video>
                </div>
    
            </div>
    
            <div class="container__banner">
    
                <div class="banner">
                    <div class="banner__icon-heart">
                        <img src="../static/media/medical.png" id="icon__heart" alt="">
                    </div>
                    <div class="banner__icon-fire">
                        <img src="../static/media/diagnos.png" id="icon_fire" alt="">
                    </div>
                    <div class="banner__text">
                        <h2>Tenemos las mejores y más amplias instalaciones, junto a la tecnología más avanzada, investigación, formación y un único compromiso tu salud.</h2>
                        <a href="#">Leer Mas</a>
                    </div>
                </div>
    
            </div>
    
        </main>
        
        <script src="../static/js/script.js"></script>
    </body>
    </html>