<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Rojas</title>

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div class="container__header">
                <div class="logo">
                    <img src="../static/media/logo.png" alt="">
                </div>

                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="./index.html">Inicio</a></li>
                            <li><a href="./especialidades.html">Especialidades</a></li>
                            <li><a href="./servicios.html">Servicios</a></li>
                            <li><a href="./quienessomos.html">Quienes Somos</a></li>
                            <li><a href="./contactanos.html">Contactanos</a></li>
                        </ul>
                    </nav>
                </div>

                <i class="fa-solid fa-bars" id="icon_menu"></i>

                <div class="header__register">
                    <input type="button" class="btn__header-register" value="Solicitar Cita">
                </div>
        </div>
    </header>

    <main>


        <div class="container__banner">

            <div class="banner">
                <div class="banner__icon-heart">
                    <img src="../static/media/medical.png" id="icon__heart" alt="">
                </div>
                <div class="banner__icon-fire">
                    <img src="../static/media/diagnos.png" id="icon_fire" alt="">
                </div>
                <div class="banner__text">
                    <h2>Clinica Rojas | Terminos y Condiciones.</h2>
                    <a href="#">Si no acepta estos términos y condiciones, no debe usar este sitio. Al usarlo de forma continua y/o al inducir el uso de este sitio electrónicamente o a través de otros medios, usted indica que ha leído y acepta estos términos y condiciones. Los Hospitales San Ángel Inn se reservan el derecho de actualizar o revisar estos términos y condiciones sin darle previo aviso; revise estos términos y condiciones periódicamente para enterarse de los cambios. El uso continuo de este sitio después de la publicación de algún cambio en estos términos y condiciones indica que usted acepta dichos cambios.</a>
                </div>
            </div>

        </div>

    </main>
    
    <script src="../static/js/script.js"></script>
</body>
</html>